input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
    transition: 0.8s;

}
 .error input[type=checkbox] {
    outline: 2px solid #ccc;
  }